<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Help Page">
    <meta name="author" content="Todd Lizambri">

    <title>Streamer</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
 <div id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <h:panelGroup>
	    <a class="navbar-brand" href="/">Streamer</a>
	  </h:panelGroup>
	</div>

	<div class="collapse navbar-collapse">
	  <ul class="nav navbar-nav navbar-right">
	    <li id="homeNavItem"><a href="/">Home</a></li>
	    <li id="controlNavItem"><a href="/controlpanel">Control</a></li>
	    <li id="HelpNavItem"><a href="/help">Help</a></li>
	  </ul>
	</div>
      </div>
     </nav>
 </div>

 <div id="body" class="container main">

   <br/><br/><br/>
   <h1>Control Panel</h1>   
{% for destination in destinationList %}
     <div class="row">
       <div id="{{ destination }}_form" class="form-group col-lg-4">
	  <b><a href="http://{{ destination }}.ihire.local/controlpanel">{{ destination }}</a></b>
	  <select name="stream" class="form-control" id="streamSelector">
{% for stream in streamList %}
	    <option>{{ stream }}</option>
{% endfor %}
	  </select>
       </div>
     </div>
     <button id="{{ destination }}_btn" type="submit" class="btn btn-primary">Set Stream</button>
   <hr/>
{% endfor %}
	          
</div>

        <!-- Bootstrap core JavaScript
	     ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
  <script src="static/js/jquery-3.2.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function(){

{% for destination in destinationList %}
    $("#{{ destination }}_btn").click( function() {
    var streamName     = $('#{{ destination }}_form #streamSelector').find(":selected").val();
    var destinationURL = "http://{{ destination }}.ihire.local/control?stream=".concat(streamName);
    $.get(destinationURL);
    });
{% endfor %}
    });
  </script>
  
  </body>
</html>

